name: Main Workflow

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2

      - name: Run build
        run: echo "Building project..."
      
      - name: Changes pushed from machine
        run: echo "This was written on the local machine" 